<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://ncachedemo.documents.azure.com:443/" />
    <add key="PrimaryKey" value="k0UjEdbtg8Du0T6yd0ZMRSObJhpi7IhWiPqLVl0ONLoUs28ZnkNSe8oWGIuouWgcaaojibxKqjxYVrgTuHF8sA==" />
	<add key="CacheId" value="myLocalCache" />
  </appSettings>
</configuration>